/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/gutenberg/blocks/breadcrumb/src/style.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.betterdocs-breadcrumb {
  margin-bottom: 10px;
}
.betterdocs-breadcrumb .betterdocs-breadcrumb-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
.betterdocs-breadcrumb .betterdocs-breadcrumb-list .betterdocs-breadcrumb-item {
  margin: 0px;
  color: #566e8b;
  font-size: 16px;
  letter-spacing: 0.035em;
}
.betterdocs-breadcrumb .betterdocs-breadcrumb-list .betterdocs-breadcrumb-item a {
  color: #566e8b;
  font-size: 16px;
  letter-spacing: 0.035em;
  text-decoration: none;
}
.betterdocs-breadcrumb .betterdocs-breadcrumb-list .betterdocs-breadcrumb-item.current span {
  color: #528fff;
  font-size: 16px;
  letter-spacing: 0.035em;
  text-decoration: none;
}
.betterdocs-breadcrumb .betterdocs-breadcrumb-list li {
  list-style: none;
  line-height: 1.7;
  display: flex;
  justify-content: center;
}
.betterdocs-breadcrumb .betterdocs-breadcrumb-list li .icon-container {
  position: relative;
  width: 8px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.betterdocs-breadcrumb .betterdocs-breadcrumb-list li .icon-container .breadcrumb-delimiter-icon {
  width: 8px;
}
.betterdocs-breadcrumb .betterdocs-breadcrumb-list .breadcrumb-delimiter {
  margin: 0 7px;
  opacity: 0.5;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/gutenberg/blocks/categorybox/src/style.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
/* ============================================= */
/* Only Layout 2 modification from Default Layout
  /* ============================================= */
a.el-betterdocs-category-box-post .el-betterdocs-cb-inner:hover {
  background: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 9, 78, 0.1);
}

.el-betterdocs-category-box-post {
  text-decoration: none !important;
  display: flex;
  word-break: break-word;
}
.el-betterdocs-category-box-post .el-betterdocs-cb-inner {
  width: 100%;
  flex: auto;
  padding: 20px;
  border: 1px solid #efffff;
  text-align: center;
  margin: 7.5px;
  transition: 300ms;
}
.el-betterdocs-category-box-post .el-betterdocs-cb-cat-icon {
  height: 80px;
  width: 80px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.el-betterdocs-category-box-post .el-betterdocs-cb-cat-icon img {
  max-height: 100%;
  max-width: 100%;
}
.el-betterdocs-category-box-post .betterdocs-category-title {
  color: #3f5876;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 15px;
}
.el-betterdocs-category-box-post .el-betterdocs-cb-cat-count {
  color: #707070;
  font-size: 15px;
}
.el-betterdocs-category-box-post .el-betterdocs-cb-cat-count .count-suffix {
  margin-left: 5px;
}
.el-betterdocs-category-box-post .el-betterdocs-cb-cat-count .count-prefix {
  margin-right: 5px;
}

.layout__2 .el-betterdocs-cb-inner {
  display: flex;
  flex-direction: row;
  padding: 0px;
  box-shadow: 0px 1px 5px 0px rgba(101, 99, 233, 0.18);
  background: #fff;
}
.layout__2 .el-betterdocs-cb-inner:hover {
  box-shadow: 0px 8px 15px 0px rgba(101, 99, 233, 0.09);
}
.layout__2 .el-betterdocs-cb-cat-icon__layout-2 {
  flex-basis: 20%;
  border-right: 1px solid #e4e4f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout__2 .el-betterdocs-cb-cat-icon__layout-2 img {
  width: 50px;
}
.layout__2 .el-betterdocs-cb-cat-title__layout-2 {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  line-height: 1;
  font-size: 20px;
  color: #333333;
  font-weight: 500;
}
.layout__2 .el-betterdocs-cb-cat-title__layout-2 span {
  padding: 45px 0px 45px 30px;
}
.layout__2 .el-betterdocs-cb-cat-count__layout-2 {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout__2 .el-betterdocs-cb-cat-count__layout-2 .count-inner__layout-2 {
  height: 60px;
  width: 60px;
  background: #ffffff;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 8px 15px 0px rgba(101, 99, 233, 0.09);
  font-size: 20px;
  color: #7e7cff;
}

.el-betterdocs-column {
  display: flex;
  flex-wrap: wrap;
}
.el-betterdocs-column a {
  padding: 10px;
}
.el-betterdocs-column a .el-betterdocs-cb-inner {
  margin: 0;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/gutenberg/blocks/categorygrid/src/style.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
/* ============================================= */
/* Only Layout 2 modification from Default Layout
  /* ============================================= */
/* ===================================== */
/* Column CSS
  /* ===================================== */
.el-betterdocs-category-grid-wrapper {
  margin: 0 -7.5px;
}
.el-betterdocs-category-grid-wrapper .el-betterdocs-category-grid.fit-to-screen {
  display: flex;
  flex-wrap: wrap;
}
.el-betterdocs-category-grid-wrapper .el-betterdocs-category-grid.fit-to-screen .el-betterdocs-category-grid-post {
  display: flex;
}
.el-betterdocs-category-grid-wrapper .el-betterdocs-category-grid.fit-to-screen .el-betterdocs-category-grid-post .el-betterdocs-cg-inner {
  width: 100%;
}

.el-betterdocs-category-grid-post .el-betterdocs-cg-inner {
  background: #ffffff;
  box-shadow: 0 10px 100px 0 rgba(40, 47, 98, 0.08);
  margin: 0 7.5px 15px 7.5px;
}
.el-betterdocs-category-grid-post .docs-sub-cat-list {
  display: block;
}

.betterdocs-category-grid-wrapper .el-betterdocs-cg-body {
  padding: 0px 20px 0px 20px;
}
.betterdocs-category-grid-wrapper .el-betterdocs-cg-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.betterdocs-category-grid-wrapper .el-betterdocs-cg-body ul li {
  margin: 10px;
  display: flex;
  align-items: center;
  color: #566e8b;
}
.betterdocs-category-grid-wrapper .el-betterdocs-cg-body ul li a {
  text-decoration: none;
  color: #566e8b;
  line-height: 1.8;
}
.betterdocs-category-grid-wrapper .el-betterdocs-cg-body ul li .el-betterdocs-cg-post-list-icon {
  font-style: normal;
  line-height: 1.8;
  margin-right: 10px;
}
.betterdocs-category-grid-wrapper .el-betterdocs-cg-body ul.docs-sub-cat-list {
  margin-left: 20px;
}

.el-betterdocs-cg-header {
  padding: 20px;
}
.el-betterdocs-cg-header .el-betterdocs-cg-header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}
.el-betterdocs-cg-header .betterdocs-category-title {
  color: #528ffe;
  font-size: 20px;
  position: relative;
  margin: 0;
  word-break: break-word;
}
.el-betterdocs-cg-header .el-betterdocs-cat-icon {
  max-height: 32px;
  max-width: 32px;
  margin-right: 30px;
  transition: 300ms;
}
.el-betterdocs-cg-header .el-betterdocs-cat-icon img {
  width: 100%;
}
.el-betterdocs-cg-header .el-betterdocs-item-count {
  min-height: 35px;
  min-width: 35px;
  background: #528ffe;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: auto;
  color: #ffffff;
  font-size: 15px;
}

.elgb-betterdocs-grid-sub-cat-title {
  display: block;
  cursor: pointer;
  margin: 10px 10px 0 10px;
}
.elgb-betterdocs-grid-sub-cat-title .toggle-arrow {
  margin-right: 5px;
}
.elgb-betterdocs-grid-sub-cat-title .arrow-down {
  display: none;
}
.elgb-betterdocs-grid-sub-cat-title a {
  color: #566e8b;
  font-size: 18px;
  line-height: 2;
  transition: all 0.3s;
  outline: none;
  text-decoration: none !important;
}
.elgb-betterdocs-grid-sub-cat-title i {
  font-size: 16px;
}

.docs-sub-cat-wrapper {
  display: none;
}

.el-betterdocs-cg-button {
  text-decoration: none !important;
  display: inline-block;
  background-color: #ffffff;
  font-size: 16px;
  color: #528ffe;
  border: 1px solid #528ffe;
  border-radius: 50px;
  line-height: 1;
  padding: 15px 20px;
  margin: 10px 20px;
}
.el-betterdocs-cg-button .el-betterdocs-cg-button-icon {
  font-style: normal;
  position: relative;
  top: 1px;
}
.el-betterdocs-cg-button .el-betterdocs-cg-button-icon.el-betterdocs-cg-button-icon-left {
  margin-right: 5px;
}
.el-betterdocs-cg-button .el-betterdocs-cg-button-icon.el-betterdocs-cg-button-icon-right {
  margin-left: 5px;
}

.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-header {
  padding: 0px 20px;
}
.el-betterdocs-category-grid-post.layout-2 .betterdocs-category-title {
  transition: 300ms;
  margin-top: 30px;
  color: #528ffe;
  font-size: 18px;
  font-weight: 500;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-item-count {
  margin: 0;
  border-radius: 0;
  position: relative;
  display: block;
  width: auto;
  background: none;
  height: 45px;
  width: 40px;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-item-count:before {
  content: attr(data-content);
  position: absolute;
  left: 0;
  top: -1px;
  height: 45px;
  width: 40px;
  background: #fc8c91;
  align-items: center;
  display: flex;
  justify-content: center;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-item-count:after {
  position: absolute;
  left: 40px;
  top: -1px;
  content: "";
  border-top: 6px solid #ad5e62;
  border-right: 6px solid transparent;
  opacity: 0.9;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-body ul li {
  font-size: 15px;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-body ul li a {
  color: #707070;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-inner {
  transition: 300ms;
  box-shadow: 0px 1px 5px 0px rgba(0, 9, 78, 0.1);
  border-radius: 5px;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-inner:hover {
  box-shadow: 0px 15px 40px 0px rgba(0, 9, 78, 0.1);
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-button {
  font-size: 15px;
  text-decoration: none !important;
  border: 0px solid;
  border-radius: 0;
  color: #333333;
  transition: 300ms;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-button:hover {
  color: #fc8c91;
}

.rtl .el-betterdocs-category-grid-post.layout-2 .el-betterdocs-item-count:after {
  position: absolute;
  right: 40px;
  left: 0;
  border-top: 6px solid #ad5e62;
  border-left: 6px solid transparent;
  border-right: unset;
}
.rtl .el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-header .el-betterdocs-item-count {
  margin-right: unset;
  margin-left: auto;
}
.rtl .el-betterdocs-category-grid-post .el-betterdocs-cg-header .el-betterdocs-item-count {
  margin-right: auto;
  margin-left: unset;
}

.betterdocs-category-grid-wrapper {
  width: 100%;
  max-width: 1600px;
  display: block;
  margin: 0 auto;
}

.betterdocs-category-grid.masonry {
  margin-left: auto;
  margin-right: auto;
}

.betterdocs-category-grid {
  display: flex;
  flex-wrap: wrap;
}

.docs-sub-cat-wrapper {
  overflow: hidden;
  transition: height 300ms ease-in;
}

/* ===================================== */
/* Column CSS
  /* ===================================== */
@media only screen and (min-width: 1025px) {
  .betterdocs-block.betterdocs-grid-1 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-1 .el-betterdocs-category-grid-post {
    width: 100%;
  }
  .betterdocs-block.betterdocs-grid-2 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-2 .el-betterdocs-category-grid-post {
    width: 50%;
  }
  .betterdocs-block.betterdocs-grid-2 .el-betterdocs-category-grid-post:nth-of-type(2n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-2 .el-betterdocs-category-grid-post:nth-of-type(2n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-3 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-3 .el-betterdocs-category-grid-post {
    width: 33.3333%;
  }
  .betterdocs-block.betterdocs-grid-3 .el-betterdocs-category-grid-post:nth-of-type(3n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-3 .el-betterdocs-category-grid-post:nth-of-type(3n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-4 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-4 .el-betterdocs-category-grid-post {
    width: 25%;
  }
  .betterdocs-block.betterdocs-grid-4 .el-betterdocs-category-grid-post:nth-of-type(4n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-4 .el-betterdocs-category-grid-post:nth-of-type(4n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-5 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-5 .el-betterdocs-category-grid-post {
    width: 20%;
  }
  .betterdocs-block.betterdocs-grid-5 .el-betterdocs-category-grid-post:nth-of-type(5n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-5 .el-betterdocs-category-grid-post:nth-of-type(5n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-6 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-6 .el-betterdocs-category-grid-post {
    width: 16%;
  }
  .betterdocs-block.betterdocs-grid-6 .el-betterdocs-category-grid-post:nth-of-type(6n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-6 .el-betterdocs-category-grid-post:nth-of-type(6n + 1) {
    clear: left;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 766px) {
  .betterdocs-block.betterdocs-grid-tablet-1 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-tablet-1 .el-betterdocs-category-grid-post {
    width: 100%;
  }
  .betterdocs-block.betterdocs-grid-tablet-2 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-tablet-2 .el-betterdocs-category-grid-post {
    width: 50%;
  }
  .betterdocs-block.betterdocs-grid-tablet-2 .el-betterdocs-category-grid-post:nth-of-type(2n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-tablet-2 .el-betterdocs-category-grid-post:nth-of-type(2n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-tablet-3 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-tablet-3 .el-betterdocs-category-grid-post {
    width: 33.3333%;
  }
  .betterdocs-block.betterdocs-grid-tablet-3 .el-betterdocs-category-grid-post:nth-of-type(3n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-tablet-3 .el-betterdocs-category-grid-post:nth-of-type(3n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-tablet-4 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-tablet-4 .el-betterdocs-category-grid-post {
    width: 25%;
  }
  .betterdocs-block.betterdocs-grid-tablet-4 .el-betterdocs-category-grid-post:nth-of-type(4n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-tablet-4 .el-betterdocs-category-grid-post:nth-of-type(4n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-tablet-5 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-tablet-5 .el-betterdocs-category-grid-post {
    width: 20%;
  }
  .betterdocs-block.betterdocs-grid-tablet-5 .el-betterdocs-category-grid-post:nth-of-type(5n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-tablet-5 .el-betterdocs-category-grid-post:nth-of-type(5n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-tablet-6 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-tablet-6 .el-betterdocs-category-grid-post {
    width: 16%;
  }
  .betterdocs-block.betterdocs-grid-tablet-6 .el-betterdocs-category-grid-post:nth-of-type(6n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-tablet-6 .el-betterdocs-category-grid-post:nth-of-type(6n + 1) {
    clear: left;
  }
}
@media only screen and (max-width: 767px) {
  .betterdocs-block.betterdocs-grid-mobile-1 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-mobile-1 .el-betterdocs-category-grid-post {
    width: 100%;
  }
  .betterdocs-block.betterdocs-grid-mobile-2 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-mobile-2 .el-betterdocs-category-grid-post {
    width: 50%;
  }
  .betterdocs-block.betterdocs-grid-mobile-2 .el-betterdocs-category-grid-post:nth-of-type(2n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-mobile-2 .el-betterdocs-category-grid-post:nth-of-type(2n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-mobile-3 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-mobile-3 .el-betterdocs-category-grid-post {
    width: 33.3333%;
  }
  .betterdocs-block.betterdocs-grid-mobile-3 .el-betterdocs-category-grid-post:nth-of-type(3n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-mobile-3 .el-betterdocs-category-grid-post:nth-of-type(3n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-mobile-4 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-mobile-4 .el-betterdocs-category-grid-post {
    width: 25%;
  }
  .betterdocs-block.betterdocs-grid-mobile-4 .el-betterdocs-category-grid-post:nth-of-type(4n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-mobile-4 .el-betterdocs-category-grid-post:nth-of-type(4n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-mobile-5 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-mobile-5 .el-betterdocs-category-grid-post {
    width: 20%;
  }
  .betterdocs-block.betterdocs-grid-mobile-5 .el-betterdocs-category-grid-post:nth-of-type(5n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-mobile-5 .el-betterdocs-category-grid-post:nth-of-type(5n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-mobile-6 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-mobile-6 .el-betterdocs-category-grid-post {
    width: 16%;
  }
  .betterdocs-block.betterdocs-grid-mobile-6 .el-betterdocs-category-grid-post:nth-of-type(6n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-mobile-6 .el-betterdocs-category-grid-post:nth-of-type(6n + 1) {
    clear: left;
  }
}
.rtl .el-betterdocs-category-grid-post.layout-2 .el-betterdocs-item-count:after {
  position: absolute;
  right: 40px;
  left: 0;
  border-top: 6px solid #ad5e62;
  border-left: 6px solid transparent;
  border-right: unset;
}

.rtl .el-betterdocs-category-grid-post .el-betterdocs-cg-header .el-betterdocs-item-count {
  margin-right: auto;
  margin-left: unset;
}

.rtl .el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-header .el-betterdocs-item-count {
  margin-right: unset;
  margin-left: auto;
}

.betterdocs-category-grid-wrapper {
  width: 100%;
  max-width: 1600px;
  display: block;
  margin: 0 auto;
}

.betterdocs-category-grid.masonry {
  margin-left: auto;
  margin-right: auto;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/gutenberg/blocks/doc-archive-list/src/style.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.betterdocs-content-area.block-archive-list {
  padding: 0;
}
.betterdocs-content-area.block-archive-list .betterdocs-content-inner-area .betterdocs-entry-title {
  margin-bottom: 20px !important;
}
.betterdocs-content-area.block-archive-list .betterdocs-content-inner-area .betterdocs-entry-title.editor-mode {
  padding-bottom: 0px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/gutenberg/blocks/doc-content/src/style.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.betterdocs-entry-content .betterdocs-print-pdf {
  float: right;
  margin-right: 10px;
  margin-top: -15px;
}
.betterdocs-entry-content .betterdocs-print-pdf .betterdocs-print-btn {
  background-color: #fafafa;
  padding: 6px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.betterdocs-entry-content #betterdocs-single-content {
  color: #4d4d4d;
  font-size: 16px;
}
.betterdocs-entry-content #betterdocs-single-content .betterdocs-content-heading {
  font-size: 20px;
  color: #4d4d4d;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/gutenberg/blocks/doc-date/src/style.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.update-date {
  font-style: italic;
  color: #566e8b;
  font-size: 14px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/gutenberg/blocks/doc-navigation/src/style.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.docs-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.docs-navigation a[rel=prev] svg {
  margin-right: 10px;
}
.docs-navigation a[rel=next] svg {
  margin-left: 10px;
}
.docs-navigation a {
  text-decoration: none !important;
  color: #3f5876;
  font-size: 16px;
  position: relative;
  color: #3f5876;
  font-size: 16px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  line-height: 1.5em;
}
.docs-navigation a:first-child {
  margin-right: 20px;
}
.docs-navigation a:last-child {
  margin-left: 20px;
  text-align: right;
}
.docs-navigation a svg {
  min-width: 16px;
  width: 16px;
  fill: #5edf8e;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/gutenberg/blocks/faq/src/style.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
/* ============================================= */
/* Only Layout 2 modification from Default Layout
  /* ============================================= */
/* ===================================== */
/* Column CSS
  /* ===================================== */
.el-betterdocs-category-grid-wrapper {
  margin: 0 -7.5px;
}
.el-betterdocs-category-grid-wrapper .el-betterdocs-category-grid.fit-to-screen {
  display: flex;
  flex-wrap: wrap;
}
.el-betterdocs-category-grid-wrapper .el-betterdocs-category-grid.fit-to-screen .el-betterdocs-category-grid-post {
  display: flex;
}
.el-betterdocs-category-grid-wrapper .el-betterdocs-category-grid.fit-to-screen .el-betterdocs-category-grid-post .el-betterdocs-cg-inner {
  width: 100%;
}

.el-betterdocs-category-grid-post .el-betterdocs-cg-inner {
  background: #ffffff;
  box-shadow: 0 10px 100px 0 rgba(40, 47, 98, 0.08);
  margin: 0 7.5px 15px 7.5px;
}
.el-betterdocs-category-grid-post .docs-sub-cat-list {
  display: block;
}

.betterdocs-category-grid-wrapper .el-betterdocs-cg-body {
  padding: 0px 20px 0px 20px;
}
.betterdocs-category-grid-wrapper .el-betterdocs-cg-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.betterdocs-category-grid-wrapper .el-betterdocs-cg-body ul li {
  margin: 10px;
  display: flex;
  align-items: center;
  color: #566e8b;
}
.betterdocs-category-grid-wrapper .el-betterdocs-cg-body ul li a {
  text-decoration: none;
  color: #566e8b;
  line-height: 1.8;
}
.betterdocs-category-grid-wrapper .el-betterdocs-cg-body ul li .el-betterdocs-cg-post-list-icon {
  font-style: normal;
  line-height: 1.8;
  margin-right: 10px;
}
.betterdocs-category-grid-wrapper .el-betterdocs-cg-body ul.docs-sub-cat-list {
  margin-left: 20px;
}

.el-betterdocs-cg-header {
  padding: 20px;
}
.el-betterdocs-cg-header .el-betterdocs-cg-header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}
.el-betterdocs-cg-header .betterdocs-category-title {
  color: #528ffe;
  font-size: 20px;
  position: relative;
  margin: 0;
  word-break: break-word;
}
.el-betterdocs-cg-header .el-betterdocs-cat-icon {
  max-height: 32px;
  max-width: 32px;
  margin-right: 30px;
  transition: 300ms;
}
.el-betterdocs-cg-header .el-betterdocs-cat-icon img {
  width: 100%;
}
.el-betterdocs-cg-header .el-betterdocs-item-count {
  min-height: 35px;
  min-width: 35px;
  background: #528ffe;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: auto;
  color: #ffffff;
  font-size: 15px;
}

.elgb-betterdocs-grid-sub-cat-title {
  display: block;
  cursor: pointer;
  margin: 10px 10px 0 10px;
}
.elgb-betterdocs-grid-sub-cat-title .toggle-arrow {
  margin-right: 5px;
}
.elgb-betterdocs-grid-sub-cat-title .arrow-down {
  display: none;
}
.elgb-betterdocs-grid-sub-cat-title a {
  color: #566e8b;
  font-size: 18px;
  line-height: 2;
  transition: all 0.3s;
  outline: none;
  text-decoration: none !important;
}
.elgb-betterdocs-grid-sub-cat-title i {
  font-size: 16px;
}

.docs-sub-cat-wrapper {
  display: none;
}

.el-betterdocs-cg-button {
  text-decoration: none !important;
  display: inline-block;
  background-color: #ffffff;
  font-size: 16px;
  color: #528ffe;
  border: 1px solid #528ffe;
  border-radius: 50px;
  line-height: 1;
  padding: 15px 20px;
  margin: 10px 20px;
}
.el-betterdocs-cg-button .el-betterdocs-cg-button-icon {
  font-style: normal;
  position: relative;
  top: 1px;
}
.el-betterdocs-cg-button .el-betterdocs-cg-button-icon.el-betterdocs-cg-button-icon-left {
  margin-right: 5px;
}
.el-betterdocs-cg-button .el-betterdocs-cg-button-icon.el-betterdocs-cg-button-icon-right {
  margin-left: 5px;
}

.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-header {
  padding: 0px 20px;
}
.el-betterdocs-category-grid-post.layout-2 .betterdocs-category-title {
  transition: 300ms;
  margin-top: 30px;
  color: #528ffe;
  font-size: 18px;
  font-weight: 500;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-item-count {
  margin: 0;
  border-radius: 0;
  position: relative;
  display: block;
  width: auto;
  background: none;
  height: 45px;
  width: 40px;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-item-count:before {
  content: attr(data-content);
  position: absolute;
  left: 0;
  top: -1px;
  height: 45px;
  width: 40px;
  background: #fc8c91;
  align-items: center;
  display: flex;
  justify-content: center;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-item-count:after {
  position: absolute;
  left: 40px;
  top: -1px;
  content: "";
  border-top: 6px solid #ad5e62;
  border-right: 6px solid transparent;
  opacity: 0.9;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-body ul li {
  font-size: 15px;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-body ul li a {
  color: #707070;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-inner {
  transition: 300ms;
  box-shadow: 0px 1px 5px 0px rgba(0, 9, 78, 0.1);
  border-radius: 5px;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-inner:hover {
  box-shadow: 0px 15px 40px 0px rgba(0, 9, 78, 0.1);
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-button {
  font-size: 15px;
  text-decoration: none !important;
  border: 0px solid;
  border-radius: 0;
  color: #333333;
  transition: 300ms;
}
.el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-button:hover {
  color: #fc8c91;
}

.rtl .el-betterdocs-category-grid-post.layout-2 .el-betterdocs-item-count:after {
  position: absolute;
  right: 40px;
  left: 0;
  border-top: 6px solid #ad5e62;
  border-left: 6px solid transparent;
  border-right: unset;
}
.rtl .el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-header .el-betterdocs-item-count {
  margin-right: unset;
  margin-left: auto;
}
.rtl .el-betterdocs-category-grid-post .el-betterdocs-cg-header .el-betterdocs-item-count {
  margin-right: auto;
  margin-left: unset;
}

.betterdocs-category-grid-wrapper {
  width: 100%;
  max-width: 1600px;
  display: block;
  margin: 0 auto;
}

.betterdocs-category-grid.masonry {
  margin-left: auto;
  margin-right: auto;
}

.betterdocs-category-grid {
  display: flex;
  flex-wrap: wrap;
}

.docs-sub-cat-wrapper {
  overflow: hidden;
  transition: height 300ms ease-in;
}

/* ===================================== */
/* Column CSS
  /* ===================================== */
@media only screen and (min-width: 1025px) {
  .betterdocs-block.betterdocs-grid-1 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-1 .el-betterdocs-category-grid-post {
    width: 100%;
  }
  .betterdocs-block.betterdocs-grid-2 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-2 .el-betterdocs-category-grid-post {
    width: 50%;
  }
  .betterdocs-block.betterdocs-grid-2 .el-betterdocs-category-grid-post:nth-of-type(2n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-2 .el-betterdocs-category-grid-post:nth-of-type(2n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-3 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-3 .el-betterdocs-category-grid-post {
    width: 33.3333%;
  }
  .betterdocs-block.betterdocs-grid-3 .el-betterdocs-category-grid-post:nth-of-type(3n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-3 .el-betterdocs-category-grid-post:nth-of-type(3n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-4 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-4 .el-betterdocs-category-grid-post {
    width: 25%;
  }
  .betterdocs-block.betterdocs-grid-4 .el-betterdocs-category-grid-post:nth-of-type(4n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-4 .el-betterdocs-category-grid-post:nth-of-type(4n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-5 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-5 .el-betterdocs-category-grid-post {
    width: 20%;
  }
  .betterdocs-block.betterdocs-grid-5 .el-betterdocs-category-grid-post:nth-of-type(5n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-5 .el-betterdocs-category-grid-post:nth-of-type(5n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-6 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-6 .el-betterdocs-category-grid-post {
    width: 16%;
  }
  .betterdocs-block.betterdocs-grid-6 .el-betterdocs-category-grid-post:nth-of-type(6n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-6 .el-betterdocs-category-grid-post:nth-of-type(6n + 1) {
    clear: left;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 766px) {
  .betterdocs-block.betterdocs-grid-tablet-1 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-tablet-1 .el-betterdocs-category-grid-post {
    width: 100%;
  }
  .betterdocs-block.betterdocs-grid-tablet-2 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-tablet-2 .el-betterdocs-category-grid-post {
    width: 50%;
  }
  .betterdocs-block.betterdocs-grid-tablet-2 .el-betterdocs-category-grid-post:nth-of-type(2n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-tablet-2 .el-betterdocs-category-grid-post:nth-of-type(2n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-tablet-3 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-tablet-3 .el-betterdocs-category-grid-post {
    width: 33.3333%;
  }
  .betterdocs-block.betterdocs-grid-tablet-3 .el-betterdocs-category-grid-post:nth-of-type(3n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-tablet-3 .el-betterdocs-category-grid-post:nth-of-type(3n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-tablet-4 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-tablet-4 .el-betterdocs-category-grid-post {
    width: 25%;
  }
  .betterdocs-block.betterdocs-grid-tablet-4 .el-betterdocs-category-grid-post:nth-of-type(4n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-tablet-4 .el-betterdocs-category-grid-post:nth-of-type(4n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-tablet-5 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-tablet-5 .el-betterdocs-category-grid-post {
    width: 20%;
  }
  .betterdocs-block.betterdocs-grid-tablet-5 .el-betterdocs-category-grid-post:nth-of-type(5n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-tablet-5 .el-betterdocs-category-grid-post:nth-of-type(5n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-tablet-6 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-tablet-6 .el-betterdocs-category-grid-post {
    width: 16%;
  }
  .betterdocs-block.betterdocs-grid-tablet-6 .el-betterdocs-category-grid-post:nth-of-type(6n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-tablet-6 .el-betterdocs-category-grid-post:nth-of-type(6n + 1) {
    clear: left;
  }
}
@media only screen and (max-width: 767px) {
  .betterdocs-block.betterdocs-grid-mobile-1 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-mobile-1 .el-betterdocs-category-grid-post {
    width: 100%;
  }
  .betterdocs-block.betterdocs-grid-mobile-2 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-mobile-2 .el-betterdocs-category-grid-post {
    width: 50%;
  }
  .betterdocs-block.betterdocs-grid-mobile-2 .el-betterdocs-category-grid-post:nth-of-type(2n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-mobile-2 .el-betterdocs-category-grid-post:nth-of-type(2n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-mobile-3 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-mobile-3 .el-betterdocs-category-grid-post {
    width: 33.3333%;
  }
  .betterdocs-block.betterdocs-grid-mobile-3 .el-betterdocs-category-grid-post:nth-of-type(3n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-mobile-3 .el-betterdocs-category-grid-post:nth-of-type(3n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-mobile-4 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-mobile-4 .el-betterdocs-category-grid-post {
    width: 25%;
  }
  .betterdocs-block.betterdocs-grid-mobile-4 .el-betterdocs-category-grid-post:nth-of-type(4n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-mobile-4 .el-betterdocs-category-grid-post:nth-of-type(4n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-mobile-5 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-mobile-5 .el-betterdocs-category-grid-post {
    width: 20%;
  }
  .betterdocs-block.betterdocs-grid-mobile-5 .el-betterdocs-category-grid-post:nth-of-type(5n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-mobile-5 .el-betterdocs-category-grid-post:nth-of-type(5n + 1) {
    clear: left;
  }
  .betterdocs-block.betterdocs-grid-mobile-6 {
    position: relative;
  }
  .betterdocs-block.betterdocs-grid-mobile-6 .el-betterdocs-category-grid-post {
    width: 16%;
  }
  .betterdocs-block.betterdocs-grid-mobile-6 .el-betterdocs-category-grid-post:nth-of-type(6n) {
    margin-right: 0 !important;
  }
  .betterdocs-block.betterdocs-grid-mobile-6 .el-betterdocs-category-grid-post:nth-of-type(6n + 1) {
    clear: left;
  }
}
.rtl .el-betterdocs-category-grid-post.layout-2 .el-betterdocs-item-count:after {
  position: absolute;
  right: 40px;
  left: 0;
  border-top: 6px solid #ad5e62;
  border-left: 6px solid transparent;
  border-right: unset;
}

.rtl .el-betterdocs-category-grid-post .el-betterdocs-cg-header .el-betterdocs-item-count {
  margin-right: auto;
  margin-left: unset;
}

.rtl .el-betterdocs-category-grid-post.layout-2 .el-betterdocs-cg-header .el-betterdocs-item-count {
  margin-right: unset;
  margin-left: auto;
}

.betterdocs-category-grid-wrapper {
  width: 100%;
  max-width: 1600px;
  display: block;
  margin: 0 auto;
}

.betterdocs-category-grid.masonry {
  margin-left: auto;
  margin-right: auto;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/gutenberg/blocks/reactions/src/style.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.betterdocs-article-reactions {
  padding: 2em;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.betterdocs-article-reactions .betterdocs-article-reactions-heading {
  flex: 0 0 auto;
}
.betterdocs-article-reactions .betterdocs-article-reactions-heading h5 {
  display: inline-block;
  font-size: 1em;
  color: #566e8b;
  margin: 0;
}
.betterdocs-article-reactions .betterdocs-article-reaction-links {
  margin: 0;
  padding: 0;
}
.betterdocs-article-reactions .betterdocs-article-reaction-links li {
  list-style: none;
  display: inline-table;
  margin: 0;
}
.betterdocs-article-reactions .betterdocs-article-reaction-links li a {
  display: inline-block;
  width: 29px;
  height: 29px;
  margin-left: 5px;
  text-align: center;
  border-radius: 50%;
  background-color: #19ca9e;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 3px 10px 0px RGB(3 29 60/15%);
}
.betterdocs-article-reactions .betterdocs-article-reaction-links li a:hover {
  background-color: #fff;
}
.betterdocs-article-reactions .betterdocs-article-reaction-links li a:hover svg path {
  fill: #19ca9e;
}
.betterdocs-article-reactions .betterdocs-article-reaction-links li a svg {
  width: 15px;
  height: 15px;
}
.betterdocs-article-reactions .betterdocs-article-reaction-links li a svg path {
  fill: #fff;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/gutenberg/blocks/searchbox/src/style.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
@keyframes slideDown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 400px;
  }
}
.betterdocs-searchbox-wrapper {
  background-color: #f7f7f7;
  padding: 50px 20px;
}
.betterdocs-searchbox-wrapper .betterdocs-live-search {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.betterdocs-search-heading {
  text-align: center;
}
.betterdocs-search-heading h2 {
  line-height: 1.2;
  font-size: 40px;
  color: #566e8b;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}
.betterdocs-search-heading h3 {
  line-height: 1.2;
  font-size: 16px;
  color: #566e8b;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.betterdocs-wrapper {
  background-color: #fff;
  flex: auto;
}

.betterdocs-searchform {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  background: #fff;
  border: 1px solid #f1f1f1;
  position: relative;
  border-radius: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  padding-top: 22px;
  padding-right: 15px;
  padding-bottom: 22px;
  padding-left: 15px;
}
.betterdocs-searchform .betterdocs-search-field {
  width: 100%;
  background: none;
  color: #595959;
  font-size: 1em;
  padding: 0 15px;
  border: none;
  box-shadow: none;
  position: relative;
  outline: 0;
  font-size: 18px;
  color: #595959;
}
.betterdocs-searchform .betterdocs-search-field:focus {
  border: none;
  box-shadow: none;
}
.betterdocs-searchform svg {
  height: 30px;
  fill: #444b54;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s;
}
.betterdocs-searchform svg.docs-search-icon {
  margin-left: 15px;
  fill: #444b54;
  height: 30px;
}
.betterdocs-searchform svg.docs-search-icon:hover {
  fill: #444b54;
}
.betterdocs-searchform svg.docs-search-loader {
  display: none;
  margin-right: 15px;
  height: 30px;
}
.betterdocs-searchform svg.docs-search-close {
  display: none;
  margin-right: 13px;
}

.betterdocs-live-search {
  position: relative;
  box-sizing: border-box;
}
.betterdocs-live-search .docs-search-result {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  min-width: 300px;
  position: absolute;
  top: auto;
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
  max-height: 400px;
  overflow-y: scroll;
  z-index: 999;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border-color: #f1f1f1;
}
.betterdocs-live-search .docs-search-result li {
  border-bottom: 1px solid #f5f5f5;
  padding: 5px;
  display: flex;
  flex-direction: row;
  border-color: #f5f5f5;
}
.betterdocs-live-search .docs-search-result li img {
  align-self: center;
  width: 80px;
}
.betterdocs-live-search .docs-search-result li span {
  font-size: 0.8em;
  color: #444b54;
}
.betterdocs-live-search .docs-search-result li:hover {
  background: #f5f5f5;
  background-color: #f5f5f5;
}
.betterdocs-live-search .docs-search-result li:only-child {
  border: none;
  padding: 15px;
  font-size: 16px;
  color: #444444;
}
.betterdocs-live-search .docs-search-result li a {
  display: block;
  color: #444;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  color: #444444;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.betterdocs-live-search .docs-search-result li a:hover {
  color: #444444;
}

.betterdocs-search-result-wrap {
  position: relative;
  z-index: 9999;
}
.betterdocs-search-result-wrap::before {
  border-color: transparent transparent #fff;
  z-index: 9999;
  border-style: solid;
  border-width: 12px;
  content: "";
  height: 0;
  left: 47px;
  position: absolute;
  top: -8px;
  width: 0;
}

.betterdocs-search-result-wrap.hideArrow::before {
  display: none;
}

.docs-search-result {
  animation: slideDown 400ms ease-in-out;
}

.docs-search-close path.close-line {
  fill: #ff697b;
}
.docs-search-close path.close-border {
  fill: #444b54;
}

.docs-search-loader {
  stroke: #444b54;
}

.betterdocs-searchform-input-wrap {
  display: flex;
  align-items: center;
  width: 100%;
}

.betterdocs-searchform select:focus {
  outline: none !important;
  box-shadow: none !important;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/gutenberg/blocks/social-share/src/style.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.betterdocs-social-share {
  display: flex;
  flex-flow: row wrap;
  margin-top: 44px;
}
.betterdocs-social-share .betterdocs-social-share-heading {
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}
.betterdocs-social-share .betterdocs-social-share-heading h5 {
  font-size: 1em;
  margin: 0;
  color: #566e8b;
}
.betterdocs-social-share .betterdocs-social-share-links {
  padding: 0;
  margin: 0;
  flex: 0 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.betterdocs-social-share .betterdocs-social-share-links li {
  list-style: none;
  padding: 0 8px;
  text-align: center;
  flex: 1 1 auto;
  margin: 0;
}
.betterdocs-social-share .betterdocs-social-share-links li a {
  display: inline-block;
  color: #f56a6a;
  transition: all 0.3s;
}
.betterdocs-social-share .betterdocs-social-share-links li a img {
  height: 30px;
  width: 30px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/gutenberg/blocks/table-of-contents/src/style.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.betterdocs-toc-block {
  width: 250px;
}
.betterdocs-toc-block .betterdocs-toc {
  background-color: #ffffff;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.betterdocs-toc-block .betterdocs-toc .angle-icon {
  display: none;
  width: 18px;
  float: right;
}
.betterdocs-toc-block .betterdocs-toc > .toc-title {
  color: #3f5876;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  display: block;
}
.betterdocs-toc-block .betterdocs-toc .toc-list li {
  display: table;
  font-size: 14px;
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
}
.betterdocs-toc-block .betterdocs-toc .toc-list li a {
  padding: 0px 0px 0px 0px;
  word-wrap: normal;
  color: #566e8b;
  font-size: 14px;
  margin: 5px 0px 5px 0px;
  line-height: 1.6;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
}
.betterdocs-toc-block .betterdocs-toc .toc-list li a:focus {
  outline: none;
}
.betterdocs-toc-block .betterdocs-toc .toc-list li a::before {
  font-size: 12px;
  color: #566e8b;
}
.betterdocs-toc-block .betterdocs-toc ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
}
.betterdocs-toc-block .betterdocs-toc ul.betterdocs-hierarchial-toc {
  position: relative;
  counter-reset: item;
}
.betterdocs-toc-block .betterdocs-toc ul.betterdocs-hierarchial-toc a.active::after {
  width: 0px;
  content: "";
  position: absolute;
  height: 1.6em;
  left: -1px;
  background-color: #528fff;
}
.betterdocs-toc-block .betterdocs-toc ul.betterdocs-hierarchial-toc ul {
  counter-reset: item;
}

.betterdocs-toc-block .betterdocs-toc.toc-list-number .toc-list.betterdocs-hierarchial-toc li a::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

@media (max-width: 767px) {
  .betterdocs-toc-block .betterdocs-toc {
    position: relative;
    width: 100%;
  }
  .betterdocs-toc-block .betterdocs-toc.collapsible-sm .toc-title {
    pointer-events: auto;
  }
  .betterdocs-toc-block .betterdocs-toc.collapsible-sm .angle-down {
    display: block;
  }
  .betterdocs-toc-block .betterdocs-toc.collapsible-sm .toc-list {
    display: none;
  }
}

/*# sourceMappingURL=style-editor.css.map*/