/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/scss/template-parts/archive-header.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.betterdocs-main-category-folder {
  padding: 20px 20px 40px;
  background: #F9FAFB;
  margin-bottom: 36px;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-main-category-folder {
    padding: 16px 16px 28px;
    margin-bottom: 24px;
  }
}
.betterdocs-main-category-folder .betterdocs-category-header-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.betterdocs-main-category-folder .betterdocs-category-header-inner .betterdocs-category-icon .betterdocs-folder-icon {
  display: inline-flex;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background: #F2F4F7;
  border-radius: 8px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-main-category-folder .betterdocs-category-header-inner .betterdocs-category-icon .betterdocs-folder-icon {
    width: 44px;
    height: 44px;
    margin-bottom: 8px;
  }
}
.betterdocs-main-category-folder .betterdocs-category-header-inner .betterdocs-category-icon .betterdocs-folder-icon svg {
  width: 30px;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-main-category-folder .betterdocs-category-header-inner .betterdocs-category-icon .betterdocs-folder-icon svg {
    width: 20px;
  }
}
.betterdocs-main-category-folder .betterdocs-category-header-inner .betterdocs-category-title {
  color: #1D2939;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.1em;
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-main-category-folder .betterdocs-category-header-inner .betterdocs-category-title {
    font-size: 22px;
    margin-bottom: 6px;
  }
}
.betterdocs-main-category-folder .betterdocs-category-header-inner .betterdocs-sub-category-items-counts {
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 500;
  color: #475467;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-main-category-folder .betterdocs-category-header-inner .betterdocs-sub-category-items-counts {
    font-size: 14px;
  }
}
.betterdocs-main-category-folder .betterdocs-category-header-inner .betterdocs-category-description {
  display: none;
}

/*# sourceMappingURL=archive-header.css.map*/