/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/scss/template-parts/archive-doc-list.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.betterdocs-title-excerpt-lists {
  margin-top: 60px;
}
.betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list {
  padding: 24px;
  border-bottom: 1px solid #EAECF0;
  background: #FFFFFF;
  transition: ease-in-out 0.35s;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list {
    padding: 16px;
    margin-top: 40px;
  }
}
.betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list:hover {
  background: #F6FEF9;
}
.betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list h2 {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list h2 {
    margin-bottom: 16px;
  }
}
.betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list h2 span {
  display: inline-flex;
  height: 32px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  background: #F2F4F7;
  border-radius: 6px;
}
.betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list h2 span svg {
  width: 18px;
}
.betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list h2 a {
  font-size: 24px;
  line-height: 1.4em;
  font-weight: 500;
  color: #1D2939;
  text-decoration: none;
}
.betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list h2 a:focus {
  outline: none;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list h2 a {
    font-size: 18px;
  }
}
.betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list .update-date {
  padding: 8px;
  background: #FFFCF5;
  border-radius: 4px;
  font-size: 12px;
  color: #475467;
  line-height: 1.4em;
  display: inline-block;
  margin-bottom: 24px;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list .update-date {
    margin-bottom: 16px;
  }
}
.betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  color: #475467;
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-title-excerpt-lists .betterdocs-title-excerpt-list p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=archive-doc-list.css.map*/