/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/scss/shortcodes/reactions.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.betterdocs-display-flex {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 767px) {
  .betterdocs-display-flex {
    display: block;
  }
}

.betterdocs-sidebar {
  flex: 0 0 30%;
}
.betterdocs-single-wrapper:not(.betterdocs-fluid-wrapper) .betterdocs-content-wrapper .betterdocs-sidebar {
  max-width: 400px;
}

.betterdocs-taxonomy-wrapper:not(.betterdocs-fluid-wrapper) .betterdocs-content-wrapper .betterdocs-sidebar {
  max-width: 400px;
}

.betterdocs-content-area {
  flex: 1 1 70%;
  padding: 0 20px 20px;
}

.betterdocs-wrapper {
  background-color: #fff;
  flex: auto;
}
.betterdocs-wrapper.betterdocs-taxonomy-wrapper {
  background-color: rgba(255, 255, 255, 0);
}
.betterdocs-wrapper.betterdocs-taxonomy-wrapper.betterdocs-archive-layout-7 {
  margin: 0 auto;
  background-color: #fff;
}
.betterdocs-wrapper.betterdocs-single-wrapper {
  background-color: #f2f4f7;
}
.betterdocs-wrapper.betterdocs-single-layout-8 {
  background: #FFFFFF;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper {
    gap: 20px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-sidebar-layout-7 {
  border-right: 1px solid #EAECF0;
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-sidebar-layout-7 {
    grid-column: 1/span 4;
  }
}
@media only screen and (max-width: 768px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-sidebar-layout-7 {
    grid-column: 1/span 12;
    border-right: none;
    display: none;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main {
  padding-top: 57px;
  padding-right: 10px;
  padding-left: 24px;
  padding-bottom: 57px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main {
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 16px;
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 1024px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main {
    grid-column-start: 5;
  }
}
@media only screen and (max-width: 767px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main {
    padding: 0 !important;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area {
  padding: 0;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-breadcrumb {
  margin-bottom: 40px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-breadcrumb {
    margin-bottom: 24px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-breadcrumb .betterdocs-breadcrumb-list {
  display: inline-flex;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #F9FAFB;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-breadcrumb .betterdocs-breadcrumb-list {
    padding: 6px 10px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-breadcrumb .betterdocs-breadcrumb-list .betterdocs-breadcrumb-item {
  color: #667085;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-breadcrumb .betterdocs-breadcrumb-list .betterdocs-breadcrumb-item.current span {
  color: #344054;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-header .betterdocs-entry-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2em;
  color: #1D2939;
  font-family: Lora;
  text-transform: unset;
  margin: 0;
  padding-bottom: 24px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-header .betterdocs-entry-title {
    font-size: 30px;
    padding-bottom: 18px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-content .betterdocs-print-pdf {
  display: none;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-author-date .update-date {
  margin: 0;
  padding-top: 0;
  border-top: none;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .update-date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 24px 0 0;
  padding-top: 16px;
  border-top: 1px solid #EAECF0;
  color: #475467;
  font-size: 14px;
  line-height: 20px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .update-date {
    margin: 18px 0 0;
    padding-top: 12px;
    font-size: 12px;
    line-height: 16px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .related-articles-title,
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-attachment-heading {
  font-size: 32px;
  line-height: 1.3em;
  font-weight: 500;
  color: #1D2939;
  margin: 0;
  padding-bottom: 20px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .related-articles-title,
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-attachment-heading {
    font-size: 24px;
    padding-bottom: 16px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-tags-print {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-top: 40px;
  margin-right: 8px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-tags-print {
    gap: 50px;
    margin-top: 30px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-tags-print .betterdocs-tags {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-tags-print .betterdocs-tags a {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 8px;
  background: #F2F4F7;
  border-radius: 4px;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-tags-print .betterdocs-print-pdf-2 .betterdocs-print-btn-2 {
  background: #F2F4F7;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-tags-print .betterdocs-print-pdf-2 .betterdocs-print-btn-2 svg {
  width: 18px;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin-top: 40px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions {
    gap: 16px;
    margin-top: 30px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-heading h5 {
  font-size: 32px;
  line-height: 1.3em;
  font-weight: 500;
  color: #1D2939;
  margin: 0;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-heading h5 {
    font-size: 24px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box {
  padding: 40px 40px 40px 24px;
  border-radius: 4px;
  border: 1px solid #EAECF0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box {
    padding: 30px 30px 30px 18px;
    gap: 16px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box p {
  font-size: 18px;
  line-height: 1.2em;
  color: #475467;
  margin: 0;
  text-align: left;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box p.feedback-message {
  text-align: center;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box p {
    font-size: 16px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box .layout-2 {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box .layout-2 {
    gap: 12px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box .layout-2 li {
  position: relative;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box .layout-2 li:hover .betterdocs-tooltip {
  visibility: visible;
  opacity: 1;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box .layout-2 li a.betterdocs-emoji {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #F2F4F7;
  border-radius: 50%;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box .layout-2 li a.betterdocs-emoji {
    width: 32px;
    height: 32px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box .layout-2 li a.betterdocs-emoji:focus-within, .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box .layout-2 li a.betterdocs-emoji:focus-visible {
  outline: 0;
  box-shadow: none;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box .layout-2 li a.betterdocs-emoji img {
  max-width: 25px;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box .layout-2 li .betterdocs-tooltip {
  position: absolute;
  top: 50%;
  right: 56px;
  transform: translateY(-50%);
  padding: 10px 12px;
  width: 70px;
  border-radius: 10px;
  background: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3em;
  color: #667085;
  text-align: center;
  box-shadow: 0px 0px 24px rgba(16, 24, 40, 0.031372549), 0px 0px 36px rgba(16, 24, 40, 0.0784313725);
  transition: all 0.35s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-article-reactions .betterdocs-article-reactions-box .layout-2 li .betterdocs-tooltip::after {
  content: "";
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #FFF;
  width: 16px;
  height: 10px;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-attachment-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-attachment-wrapper {
    margin-top: 30px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-attachment-wrapper .attachment-list {
  flex-direction: column;
  gap: 24px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-attachment-wrapper .attachment-list {
    gap: 18px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-attachment-wrapper .attachment-list .attachment-details {
  flex: 70%;
  width: 70%;
  padding: 12px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-attachment-wrapper .attachment-list .attachment-details {
    padding: 8px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-attachment-wrapper .attachment-list .attachment-details a {
  gap: 4px;
  display: inline-flex;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-attachment-wrapper .attachment-list .attachment-details a .attachment-name {
  color: #000;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-attachment-wrapper .attachment-list .attachment-details a .attachment-size {
  color: #98A2B3;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front {
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front {
    margin-top: 30px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front .related-articles-list {
  flex-direction: column;
  gap: 24px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front .related-articles-list {
    gap: 18px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front .related-articles-list li {
  border: none;
  flex: 70%;
  width: 70%;
  padding: 0;
  gap: 0;
  padding-left: 18px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front .related-articles-list li {
    padding-left: 14px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front .related-articles-list li a {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 500;
  color: #667085;
  transition: ease-in-out 0.35s;
  display: inline-flex;
  position: relative;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front .related-articles-list li a {
    font-size: 14px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front .related-articles-list li a:hover {
  color: #344054;
  text-decoration: underline;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front .related-articles-list li a:hover::before {
  background: #98A2B3;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front .related-articles-list li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 4px;
  background: #EAECF0;
  transition: ease-in-out 0.35s;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front .related-articles-list li a::before {
    left: -14px;
    width: 12px;
    height: 12px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front .related-articles-list li a:last-child {
  display: none;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-related-articles-container-front .related-articles-list li svg {
  display: none;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-social-share {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-social-share {
    gap: 18px;
    margin-top: 30px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-social-share .betterdocs-social-share-heading h5 {
  font-size: 32px;
  line-height: 1.2em;
  font-weight: 500;
  color: #1D2939;
  margin: 0;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-social-share .betterdocs-social-share-heading h5 {
    font-size: 24px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-social-share .betterdocs-social-share-links {
  padding: 0;
  margin: 0;
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  padding: 40px 24px;
  border: 1px solid #EAECF0;
  border-radius: 4px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-social-share .betterdocs-social-share-links {
    gap: 12px;
    padding: 30px 18px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-social-share .betterdocs-social-share-links li {
  list-style: none;
  padding: 0;
  text-align: center;
  flex: unset;
  cursor: pointer;
  margin: 0;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-social-share .betterdocs-social-share-links li {
    width: 30px;
    height: 30px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-social-share .betterdocs-social-share-links li a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #EAECF0;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-social-share .betterdocs-social-share-links li a {
    width: 30px;
    height: 30px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-social-share .betterdocs-social-share-links li a img {
  height: 24px;
  width: 24px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .betterdocs-social-share .betterdocs-social-share-links li a img {
    width: 18px;
    height: 18px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .feedback-update-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  padding: 16px;
  border-top: 1px solid #EAECF0;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .feedback-update-form {
    margin: 30px 0;
    padding: 12px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .feedback-update-form .update-date {
  color: #475467;
  font-size: 14px;
  font-style: italic;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .betterdocs-entry-footer .feedback-update-form .update-date {
    font-size: 12px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .docs-navigation {
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9FAFB;
  border-radius: 4px;
  margin: 40px 0;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .docs-navigation {
    padding: 10px 12px;
    margin: 30px 0;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .docs-navigation a {
  display: inline-flex;
  margin: 0;
  font-size: 14px;
  color: #344054;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .docs-navigation a {
    font-size: 12px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .docs-content-full-main .betterdocs-content-inner-area .docs-navigation a svg {
  fill: #667085;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right {
  padding-left: 0;
  padding-top: 54px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right {
    padding-top: 34px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container {
  top: 50px;
  padding-left: 20px;
  padding-bottom: 80px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container {
    top: 40px;
    padding-left: 20px;
    padding-bottom: 50px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content {
  display: flex;
  flex-direction: column;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc {
  padding: 0 0;
  display: inline-flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  max-height: 100vh;
  overflow-y: auto;
  flex: 1;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc .toc-title {
  color: #667085;
  font-size: 16px;
  line-height: 26px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc .toc-title {
    font-size: 14px;
    line-height: 22px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc ul {
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc ul {
    gap: 8px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc ul.betterdocs-hierarchial-toc {
  position: relative;
  padding-top: 16px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc ul.betterdocs-hierarchial-toc {
    padding-top: 12px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc ul.betterdocs-hierarchial-toc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  width: 1px;
  height: 100%;
  background: #D0D5DD;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc ul li {
  padding: 0;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc ul li a {
  display: inline-flex;
  font-size: 14px;
  line-height: 22px;
  color: #667085;
  font-weight: 500;
  padding: 8px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc ul li a {
    font-size: 12px;
    line-height: 18px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc ul li a.active {
  color: #344054;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc ul li a.active::after {
  content: "";
  position: absolute;
  left: 5px;
  width: 4px;
  height: 2em;
  background: #A1DCC0;
  border-radius: 4px;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc ul li a::before {
  display: none;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc ul li ul li a.active::after {
  content: "";
  position: absolute;
  left: 5px;
  width: 4px;
  height: 2em;
  background: #A1DCC0;
  border-radius: 4px;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc.toc-list-number ul li a:before {
  display: block;
  margin-right: 2px;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions {
  margin-top: 24px;
  padding: 32px 24px;
  background-color: #F9FAFB;
  border-radius: 4px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions {
    margin-top: 30px;
    padding: 22px 18px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar {
    gap: 8px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar h5 {
  font-size: 1em;
  margin: 0;
  color: #667085;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links {
    gap: 8px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  transition: ease-in-out 0.35s;
  cursor: pointer;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li a {
  display: inline-flex;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li a svg {
  width: 16px;
  height: 16px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li a svg {
    width: 14px;
    height: 14px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li a img {
  max-width: 16px;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li:hover {
  background-color: #EAECF0;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li .betterdocs-tooltip {
  font-size: 14px;
  color: #667085;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li .betterdocs-tooltip {
    font-size: 12px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links.layout-3 li a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-social-share {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 40px;
  padding: 32px 24px;
  background-color: #F9FAFB;
  border-radius: 4px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-social-share {
    gap: 8px;
    margin-top: 18px;
    padding: 22px 18px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-social-share .betterdocs-social-share-heading h5 {
  font-size: 1em;
  margin: 0;
  color: #667085;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-social-share .betterdocs-social-share-links {
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-social-share .betterdocs-social-share-links li {
  width: 24px;
  height: 24px;
  padding: 0;
  flex: unset;
  cursor: pointer;
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-social-share .betterdocs-social-share-links li img {
  vertical-align: inherit;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-social-share .betterdocs-social-share-links li {
    width: 20px;
    height: 20px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-social-share .betterdocs-social-share-links li a {
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #EAECF0;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-social-share .betterdocs-social-share-links li a {
    width: 20px;
    height: 20px;
  }
}
.betterdocs-wrapper.betterdocs-single-layout-8 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-social-share .betterdocs-social-share-links li a img {
  width: 15px;
  height: 15px;
}
.betterdocs-wrapper button {
  border: none;
}
.betterdocs-wrapper button:focus {
  outline: none;
}

.betterdocs-author-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 16px;
  margin-bottom: 32px;
  border-top: 1px solid #EAECF0;
  border-bottom: 1px solid #EAECF0;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-author-date {
    gap: 20px;
    padding: 12px;
    margin-top: 18px;
  }
}
.betterdocs-author-date .betterdocs-author {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-author-date .betterdocs-author {
    gap: 12px;
  }
}
.betterdocs-author-date .betterdocs-author .author-avatar img {
  max-width: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-author-date .betterdocs-author .author-avatar img {
    width: 32px;
    height: 32px;
  }
}
.betterdocs-author-date .betterdocs-author > span {
  font-size: 16px;
  color: #667085;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-author-date .betterdocs-author > span {
    font-size: 14px;
  }
}
.betterdocs-author-date .update-date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding-top: 0;
  border-top: none;
  color: #475467;
  font-size: 14px;
  line-height: 20px;
}

.betterdocs-category-list-view-wrapper.betterdocs-shortcode > .layout-flex {
  flex-direction: column;
}

.betterdocs-single-layout-8.betterdocs-single-layout-9 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content {
  display: flex;
  flex-direction: column;
}
.betterdocs-single-layout-8.betterdocs-single-layout-9 .betterdocs-content-wrapper .betterdocs-full-sidebar-right .right-sidebar-toc-container .simplebar-content .betterdocs-toc {
  padding: 0 0;
  display: inline-flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  max-height: 50vh;
  overflow-y: auto;
  flex: 1;
}

.betterdocs-mobile-nav {
  display: none;
}
@media only screen and (max-width: 768px) {
  .betterdocs-mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 12px;
    margin-top: 18px;
    margin-bottom: 32px;
    border-top: 1px solid #EAECF0;
    border-bottom: 1px solid #EAECF0;
  }
}
.betterdocs-mobile-nav .betterdocs-sidebar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.betterdocs-mobile-nav .betterdocs-sidebar-icon span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #667085;
}
.betterdocs-mobile-nav .betterdocs-mobile-nav-icon-svg {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAECF0;
  border-radius: 50%;
  margin-right: 9px;
}

.betterdocs-mobile-sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.betterdocs-mobile-sidebar-wrapper .betterdocs-sidebar-layout-1,
.betterdocs-mobile-sidebar-wrapper .betterdocs-full-sidebar-left,
.betterdocs-mobile-sidebar-wrapper .betterdocs-sidebar.betterdocs-sidebar-layout-6 {
  display: block;
  left: -300px;
  right: auto;
  position: fixed;
  width: 300px;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -6px;
  overflow-y: auto;
}

.betterdocs-mobile-toc-wrapper {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.betterdocs-mobile-toc-wrapper .betterdocs-full-sidebar-right {
  display: block;
  right: -300px;
  left: auto;
  position: fixed;
  width: 300px;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -6px;
  overflow-y: auto;
}

.admin-bar .betterdocs-mobile-sidebar-wrapper .betterdocs-sidebar-layout-1,
.admin-bar .betterdocs-mobile-sidebar-wrapper .betterdocs-full-sidebar-left,
.admin-bar .betterdocs-mobile-sidebar-wrapper .betterdocs-sidebar.betterdocs-sidebar-layout-6,
.admin-bar .betterdocs-mobile-sidebar-wrapper .betterdocs-mobile-toc-wrapper .betterdocs-full-sidebar-right {
  padding-top: 46px !important;
}
.admin-bar .betterdocs-mobile-toc-wrapper .betterdocs-full-sidebar-right {
  padding-top: 56px !important;
}
.admin-bar .betterdocs-mobile-toc-wrapper .betterdocs-full-sidebar-right .betterdocs-toc {
  padding-right: 20px !important;
}

body.single-docs .site-content > .ast-container,
.archive.post-type-archive-docs .site-content > .ast-container,
.archive.tax-doc_category .site-content > .ast-container,
.archive.tax-knowledge_base .site-content > .ast-container,
.archive.tax-doc_tag .site-content > .ast-container {
  max-width: none;
  padding: 0;
}

.entry-content .betterdocs-articles-list {
  padding: 0;
}

.ast-single-post .entry-content .betterdocs-footer button,
.ast-single-post .entry-content .betterdocs-footer a {
  text-decoration: none;
}

.betterdocs-article-reactions {
  display: flex;
  flex-flow: row wrap;
  padding: 2em;
  background-color: #fff;
  border-radius: 5px;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .betterdocs-article-reactions {
    padding: 1em;
  }
}
.betterdocs-article-reactions h5 {
  display: inline-block;
}
.betterdocs-article-reactions p {
  margin: 0;
  text-align: center;
  width: 100%;
}
.betterdocs-article-reactions .betterdocs-article-reactions-heading {
  flex: 0 0 auto;
}
.betterdocs-article-reactions .betterdocs-article-reactions-heading h5 {
  font-size: 1em;
  margin: 0;
}
.betterdocs-article-reactions .betterdocs-article-reaction-links {
  margin: 0;
  padding: 0;
}
.betterdocs-article-reactions .betterdocs-article-reaction-links.layout-1 li {
  list-style: none;
  display: inline-table;
  margin: 0;
}
.betterdocs-article-reactions .betterdocs-article-reaction-links.layout-1 li a {
  display: inline-block;
  width: 29px;
  height: 29px;
  margin-left: 5px;
  text-align: center;
  border-radius: 50%;
  background-color: #19ca9e;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 3px 10px 0px rgba(3, 29, 60, 0.15);
}
.betterdocs-article-reactions .betterdocs-article-reaction-links.layout-1 li a:hover {
  background-color: #fff;
}
.betterdocs-article-reactions .betterdocs-article-reaction-links.layout-1 li a:hover svg path {
  fill: #19ca9e;
}
.betterdocs-article-reactions .betterdocs-article-reaction-links.layout-1 li a svg {
  width: 15px;
  height: 15px;
}
.betterdocs-article-reactions .betterdocs-article-reaction-links.layout-1 li a svg path {
  fill: #fff;
}

/** reactions layout 2 **/
.betterdocs-article-reactions-box {
  padding: 40px 40px 40px 24px;
  border-radius: 4px;
  border: 1px solid #EAECF0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions-box {
    padding: 30px 30px 30px 18px;
    gap: 16px;
  }
}
.betterdocs-article-reactions-box p {
  font-size: 18px;
  line-height: 1.2em;
  color: #475467;
  margin: 0;
  text-align: left;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions-box p {
    font-size: 16px;
  }
}
.betterdocs-article-reactions-box .layout-2 {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions-box .layout-2 {
    gap: 12px;
  }
}
.betterdocs-article-reactions-box .layout-2 li {
  position: relative;
}
.betterdocs-article-reactions-box .layout-2 li:hover .betterdocs-tooltip {
  visibility: visible;
  opacity: 1;
}
.betterdocs-article-reactions-box .layout-2 li a.betterdocs-emoji {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #F2F4F7;
  border-radius: 50%;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions-box .layout-2 li a.betterdocs-emoji {
    width: 32px;
    height: 32px;
  }
}
.betterdocs-article-reactions-box .layout-2 li a.betterdocs-emoji:focus-within, .betterdocs-article-reactions-box .layout-2 li a.betterdocs-emoji:focus-visible {
  outline: 0;
  box-shadow: none;
}
.betterdocs-article-reactions-box .layout-2 li .betterdocs-tooltip {
  position: absolute;
  top: 50%;
  right: 56px;
  transform: translateY(-50%);
  padding: 10px 12px;
  width: 70px;
  border-radius: 10px;
  background: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3em;
  color: #667085;
  text-align: center;
  box-shadow: 0px 0px 24px rgba(16, 24, 40, 0.031372549), 0px 0px 36px rgba(16, 24, 40, 0.0784313725);
  transition: all 0.35s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.betterdocs-article-reactions-box .layout-2 li .betterdocs-tooltip::after {
  content: "";
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #FFF;
  width: 16px;
  height: 10px;
  box-sizing: border-box;
}

/** reactions layout 3 **/
.betterdocs-article-reactions {
  margin-top: 40px;
  padding: 32px 24px;
  background: #F9FAFB;
  border-radius: 4px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions {
    margin-top: 30px;
    padding: 22px 18px;
  }
}
.betterdocs-article-reactions .betterdocs-article-reactions-sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions .betterdocs-article-reactions-sidebar {
    gap: 8px;
  }
}
.betterdocs-article-reactions .betterdocs-article-reactions-sidebar h5 {
  font-size: 1em;
  margin: 0;
  color: #667085;
}
.betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links {
    gap: 8px;
  }
}
.betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  transition: ease-in-out 0.35s;
  cursor: pointer;
}
.betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li a svg {
  width: 16px;
  height: 16px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li a svg {
    width: 14px;
    height: 14px;
  }
}
.betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li:hover {
  background-color: #EAECF0;
}
.betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li .betterdocs-tooltip {
  font-size: 14px;
  color: #667085;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li .betterdocs-tooltip {
    font-size: 12px;
  }
}

/** article reactions layout 3 **/
.betterdocs-article-reactions-blocks {
  margin-top: 40px;
  padding: 32px 24px;
  background: #F9FAFB;
  border-radius: 4px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions-blocks {
    margin-top: 30px;
    padding: 22px 18px;
  }
}
.betterdocs-article-reactions-blocks .betterdocs-article-reactions-sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions-blocks .betterdocs-article-reactions-sidebar {
    gap: 8px;
  }
}
.betterdocs-article-reactions-blocks .betterdocs-article-reactions-sidebar h5 {
  font-size: 1em;
  margin: 0;
  color: #667085;
}
.betterdocs-article-reactions-blocks .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions-blocks .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links {
    gap: 8px;
  }
}
.betterdocs-article-reactions-blocks .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  transition: ease-in-out 0.35s;
  cursor: pointer;
}
.betterdocs-article-reactions-blocks .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}
.betterdocs-article-reactions-blocks .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li a:focus {
  outline: none;
}
.betterdocs-article-reactions-blocks .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li a svg {
  width: 16px;
  height: 16px;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions-blocks .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li a svg {
    width: 14px;
    height: 14px;
  }
}
.betterdocs-article-reactions-blocks .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li:hover {
  background-color: #EAECF0;
}
.betterdocs-article-reactions-blocks .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li .betterdocs-tooltip {
  font-size: 14px;
  color: #667085;
}
@media only screen and (max-width: 1280px) {
  .betterdocs-article-reactions-blocks .betterdocs-article-reactions-sidebar .betterdocs-article-reaction-links li .betterdocs-tooltip {
    font-size: 12px;
  }
}

.betterdocs-encyclopedia-single-layout .betterdocs-article-reactions {
  padding: 2em 0;
}

/*# sourceMappingURL=reactions.css.map*/