/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./react-src/scss/shortcodes/search-modal.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.betterdocs-search-layout-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 57px;
  background-color: #F9FAFB;
}
.betterdocs-search-layout-1 .search-header {
  margin-bottom: 40px;
}
.betterdocs-search-layout-1 .search-header .search-heading {
  font-size: 36px;
  line-height: 1.2em;
  color: #333;
  margin: 0;
  padding: 0;
}
.betterdocs-search-layout-1 .search-header .search-subheading {
  font-size: 24px;
  line-height: 1.2em;
  color: #333;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
.betterdocs-search-layout-1 .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 656px;
  background-color: #FFFFFF;
  border: 1px solid #EAECF0;
  border-radius: 12px;
  padding: 12px 12px 12px 20px;
}
.betterdocs-search-layout-1 .search-bar .search-input-wrapper {
  display: flex;
  flex: 1;
  background-color: #FFF;
  margin-right: 10px;
  justify-content: flex-start;
  align-items: center;
}
.betterdocs-search-layout-1 .search-bar .search-input-wrapper .search-icon {
  margin-right: 15px;
}
.betterdocs-search-layout-1 .search-bar .search-input-wrapper .search-input {
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
  flex: 1;
  background-color: transparent;
  text-align: left;
  color: #667085;
}
.betterdocs-search-layout-1 .search-bar .search-button {
  background-color: #667085;
  color: #FFF;
  border: none;
  padding: 10px 32px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-shrink: 0;
}

.betterdocs-search-popup {
  margin-bottom: 24px;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-popup {
    margin-bottom: 16px;
  }
}
.betterdocs-search-popup .betterdocs-searchform {
  border-radius: 4px;
  background: #F9FAFB;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.betterdocs-search-popup .betterdocs-searchform .betterdocs-searchform-input-wrap svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.betterdocs-search-popup .betterdocs-searchform .betterdocs-searchform-input-wrap .betterdocs-search-command {
  width: 100%;
  padding: 0 16px 0 36px;
  border: none;
  background: transparent;
  color: #98A2B3;
}
.betterdocs-search-popup .betterdocs-searchform .betterdocs-searchform-input-wrap .betterdocs-search-command:focus-visible {
  outline: 0;
  box-shadow: none;
}
.betterdocs-search-popup .betterdocs-searchform .betterdocs-searchform-input-wrap ::placeholder {
  color: #98A2B3;
}
.betterdocs-search-popup .betterdocs-searchform .command-key {
  width: 38px;
  height: 24px;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #667085;
  font-size: 14px;
  font-weight: 500;
}

.betterdocs-search-wrapper {
  z-index: 9999999;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}
.betterdocs-search-wrapper .betterdocs-search-details {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #EAECF0;
  width: 867px;
  height: auto;
  overflow: auto;
  max-height: calc(100vh - 300px);
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details {
    width: 95%;
    top: 10px;
    max-height: calc(100vh - 100px);
  }
}
@media only screen and (max-width: 767px) {
  .betterdocs-search-wrapper .betterdocs-search-details {
    width: 95%;
    max-height: calc(100vh - 100px);
  }
}
.betterdocs-search-wrapper .betterdocs-search-details .xmark {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details .xmark {
    display: block;
    margin-top: 5px;
    right: 10px;
    position: absolute;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F4F7;
    border-radius: 50%;
  }
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header {
  margin: 20px 20px 14px;
  padding: 5px;
  border-radius: 4px;
  background: #F9FAFB;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header {
    margin: 46px 16px 10px;
  }
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-searchform-input-wrap {
  display: flex;
  align-items: center;
  flex: 1;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-searchform-input-wrap .betterdocs-search-field {
  flex: 1;
  background: transparent;
  border: none;
  padding: 0;
  padding: 7px 16px 7px 4px;
  color: #475467;
  font-size: 16px;
  line-height: 1.6em;
  box-shadow: none;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-searchform-input-wrap .betterdocs-search-field {
    font-size: 14px;
    padding-right: 12px;
  }
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-searchform-input-wrap .betterdocs-search-field:focus-visible {
  outline: 0;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-searchform-input-wrap .esc-button {
  background-color: #FFF;
  padding: 5px 10px;
  border-radius: 2px;
  color: #667085;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2em;
  margin-right: 8px;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-searchform-input-wrap .esc-button {
    display: none;
  }
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-searchform-input-wrap .clear-icon {
  margin-right: 8px;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper {
  position: relative;
  width: 220px;
  padding: 2px 8px 2px 16px;
  border-left: 1px solid #EAECF0;
  flex-shrink: 0;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper {
    width: 190px;
    padding: 0 8px 0 12px;
  }
}
@media only screen and (max-width: 767px) {
  .betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper {
    width: 155px;
  }
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select {
  color: #667085;
  font-size: 16px;
  line-height: 1.4em;
  padding: 0;
  width: 100%;
  height: auto;
  border: none;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
  appearance: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select {
    font-size: 14px;
  }
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select:focus-visible {
  outline: 0;
  box-shadow: none;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select .css-1fdsijx-ValueContainer {
  padding: 0;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select .css-1u9des2-indicatorSeparator {
  display: none;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select .css-13cymwt-control,
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select .css-t3ipsp-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  min-height: auto;
  border-width: 0;
  box-shadow: none;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select .css-13cymwt-control:hover,
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select .css-t3ipsp-control:hover {
  border: none;
  border-color: transparent;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select .css-15lsz6c-indicatorContainer,
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select .css-1xc3v61-indicatorContainer,
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select .css-19bb58m,
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select .css-hlgwow,
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-header .betterdocs-select-option-wrapper .betterdocs-form-select .css-qbdosj-Input {
  margin: 0;
  padding: 0;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-popular-keywords {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 22px;
  padding: 0 27px;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-popular-keywords .search-title {
  color: #D0D5DD;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-popular-keywords .keywords {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-popular-keywords .keywords span {
  background: #F9FAFB;
  color: #475467;
  padding: 4px;
  display: inline-block;
  cursor: pointer;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content {
  height: 100%;
  overflow: auto;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-info-tab {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 28px;
  border-bottom: 1px solid #D0D5DD;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-info-tab {
    gap: 12px;
    padding: 0 20px;
  }
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-info-tab .betterdocs-tab-items {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px 10px 16px 4px;
  cursor: pointer;
  min-height: 44px;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-info-tab .betterdocs-tab-items {
    gap: 4px;
    padding: 2px 8px 12px 4px;
    min-height: 38px;
  }
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-info-tab .betterdocs-tab-items span {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
  color: #D0D5DD;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-info-tab .betterdocs-tab-items span {
    font-size: 12px;
  }
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-info-tab .betterdocs-tab-items.active {
  border-bottom: 2px solid #00B884;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-info-tab .betterdocs-tab-items.active span {
  color: #00B884;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-info-tab .betterdocs-tab-items.active span svg path {
  fill: #00B884;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper {
  padding-bottom: 24px;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper {
    padding-bottom: 16px;
  }
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-item-content .betterdocs-search-item-list {
  padding: 16px 24px;
  border-bottom: 1px solid #EAECF0;
  background: #FFFFFF;
  transition: ease-in-out 0.35s;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-item-content .betterdocs-search-item-list:hover {
  background: #F6FEF9;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-item-content .betterdocs-search-item-list {
    padding: 12px 20px;
  }
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-item-content .betterdocs-search-item-list .content-main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 10px;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-item-content .betterdocs-search-item-list .content-main a {
  flex: 1;
  cursor: pointer;
  text-decoration: none;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-item-content .betterdocs-search-item-list .content-main h4 {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  color: #1D2939;
  margin: 0;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-item-content .betterdocs-search-item-list .content-sub {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4px;
  padding-left: 40px;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-item-content .betterdocs-search-item-list .content-sub h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
  color: #475467;
  margin: 0;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-item-content .betterdocs-search-item-list .content-sub p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.4em;
  color: #475467;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-item-content .betterdocs-search-item-list .content-sub p .show-more-btn {
  color: #D0D5DD;
  font-size: 14px;
  font-weight: 500;
  float: right;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-item-content:last-child .betterdocs-search-item-list {
  border-bottom: none !important;
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-items-not-found {
  padding: 36px 30px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-items-not-found {
    padding: 24px 20px 50px;
    gap: 4px;
  }
}
.betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-items-not-found h4 {
  font-size: 24px;
  line-height: 1.2em;
  color: #1D2939;
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  .betterdocs-search-wrapper .betterdocs-search-details .betterdocs-search-content .betterdocs-search-items-wrapper .betterdocs-search-items-not-found h4 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1024px) {
  body.logged-in .betterdocs-search-wrapper {
    top: 50px;
  }
}

/*# sourceMappingURL=search-modal.css.map*/